
input::-webkit-inner-spin-button {/* убрать стрелки*/
  display: none;
 }

.conteiner{
  margin: 5px;
  padding: 5px;
  display: table;
 }

.content{

  padding: 5px 15px;
 }

.content .row{

  padding-bottom: 10px;

 }

 .content .row:last-child{

  padding-bottom: 0;

 }

.form-control{
  color: #000;
  outline: none;
  border-color: #bdb07a;
  border-radius: 0;
 }

.form-control:focus {
  border-color: #836d15;
  box-shadow: none;
 }

.btn-default{
  color: #6b4a22;
  background-color: #ffdd57;
  border-color: #bdb07a;
  outline: 0;
 }

.btn-default:focus{

 }

.btn-default:hover {
  border-color: #836d15;
  background: #fece2f;
 }

.btn-default:active{
 
 }

.btn-default:active:hover{

 }

.btn{
  border-radius: 0;
 }

.btn-turn, .btn-turn:hover{
  background: url("../images/dialog-header-btn-2.png") center center no-repeat;
 }

.btn-close, .btn-close:hover{
  background: url("../images/dialog-header-btn-4.png") center center no-repeat;
 }

.btn-close, .btn-close:hover, .btn-turn, .btn-turn:hover{
  background-size: 100%;
 }

.input-group-btn .btn-default{

  background-color: #fff;

 }

.input-group-btn:hover .btn-default{
  z-index: 20;
 }

.checkbox{
    margin: 0;
 }

.checkbox-right label{
  padding-left: 0;
 }

.checkbox-right input[type="checkbox"]{

  margin-left: 5px;

 }

/*.col-sm-12 > .form-control-static {

  min-height: 27px;
  padding-top: 0;

}*/

@media (min-width: 400px) {
  
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

 }

/*DIALOG*/

.ui-dialog{
  position: absolute;
  background: #feeebd;  
  border: 1px solid #635f56;
  min-width: 250px;
  max-width: 300px;
  box-shadow: 0 5px 15px #423f3f;
 }

/*DIALOG HEADER*/

.ui-dialog-header{
  background: #817865;
  border-bottom: 1px solid #635f56; 
  cursor: move;
  left: 0;
 }

.ui-dialog-header-title{
  color: #ffffff;
  /*background: #b1b165;  */
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  padding: 5px 0 5px 10px;
  user-select: none;
 }

.ui-dialog-header .btn-group{
  padding-right: 5px;  
 }

.ui-dialog-header .btn{
  margin-top: 5px;
  height: 20px;
  width: 20px;
  padding: 0;
  border: 0; 
  font-size: 10px;
  /*background: none;*/
 }

/*DIALOG CONTENT*/

.ui-dialog-content{
  overflow-y: auto;
  max-height: 600px; 
  user-select: none;
  cursor: default;
  padding-bottom: 10px;  
 }

/*DIALOG FOOTER*/

.ui-dialog-footer{
  border-top: 1px solid #bdb07a;
  padding: 5px; 
 }

.ui-dialog-footer .btn{


 }

.ui-dialog-header:before,
.ui-dialog-content:before,
.ui-dialog-footer:before{
  display: table;
  content: " ";
 }

.ui-dialog-header:after,
.ui-dialog-content:after,
.ui-dialog-footer:after{
  clear: both;
  display: table;
  content: " ";
 }

/* scrollbar */

.ui-dialog-content::-webkit-scrollbar-button {
  background-image:url('');
  background-repeat:no-repeat;
  width:5px;
  height:0px;
 }

/*Цвет фона*/
.ui-dialog-content::-webkit-scrollbar-track {
  margin: -1px 0; 
  background-color:#feeebd;
  border-left: 1px solid #bdb07a;
 }

/*Кнопка*/
.ui-dialog-content::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  background-color:#ffdd57;
  border: 1px solid #bdb07a;
  border-right: 0;
  cursor: pointer;
 }

.ui-dialog-content::-webkit-scrollbar-thumb:hover{
  background-color:#fece2f;
 }

.ui-dialog-content::-webkit-resizer{
  background-image:url('');
  background-repeat:no-repeat;
  width:4px;
  height:0px
 }

/*Основная ширина*/
.ui-dialog-content::-webkit-scrollbar{
  width: 15px;
 }

/*------------------------------*/