@charset "UTF-8";
/* CSS Document */

body {
	font-family: Arial;
	font-size: 14px;
	padding: 0;
	color: #000;
	background: url(images/bgsite.jpg); 
}
ul, ol, dl { 
    padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px;
}
a img { 
	border: none;
}
a:link {
	color: #09F;
}
a:visited {
	color: #f90;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}
header, section, footer, aside, nav, article, figure {
	display: block;
}
.obnulitel{
	clear: both; height: 0px;
}
.main{
	width: 100%;
	margin: 0px auto;	
}
.container{
	background: #fff;
	width: 1600px;
	margin: 0px auto;
	padding: 15px;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999;
	-wekit-box-shadow: 0px 0px 20px #999;
	-o-box-shadow: 0px 0px 20px #999;
}
header{
	height: 55px;
	width: 100%;
	border-bottom: 2px #F90 solid;
	padding-bottom: 5px;
}

nav{
	margin: 0px 0px 0px 0px; 
}

nav ul {
	list-style: none;
	margin: 0 auto;
	width: 1200px;
	padding-left: 0;
	text-align: center;
	overflow: hidden;
}

nav li{
  float: left;
  width: 200px;
  margin-right: 45px;
}
nav li:last-child {
  margin-right: 0;
}

nav li a{
  text-decoration: none;
  color: #f90;
  display: block;
  font-family: 'Arimo', sans-serif; 
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 0;
  font-weight: bold;
}
nav li a:hover{
	border-bottom: 2px #F90 solid;
	color: #fff;
	background: #f90;

}



section{
	
}
aside.left{
	float: left;
	width: 76px;
	border-left: 2px #F90 solid;
	border-right: 2px #F90 solid;
}
aside.right{
	float: right;
	width: 76px;
	border-right: 2px #F90 solid;
	border-left: 2px #F90 solid; 
}
article{
	float: left;
	width: 1492px;
	margin: 0px;
	padding 0px 0px 0px 0px;
	/*background: #e6e3da;*/
	/*border: 2px #F90 solid;*/
}
footer{
	/*display: none;*/	
	height: 1px;
	border-top: 2px #F90 solid; 
}

/*  SVG */

svg {display: block;}

div.propertys_boxs{
	
	margin-top: 10px;
	
}

div.propertys_box{
	
	display: block;
	float: left;

}

table.propertys{
	width: 100%;
	font-family: Monospace;
	font-size: 120%;
	border-collapse: collapse;
	border-spacing: 0px 0px;
	//*border: 1px #000 solid;*// 
}

td.property-name{
	margin-left: 2px;
	width: 130px;
}

td.property-add{
	width: 125px;
}

span.propertys-group-name{
	font-weight: 600;
	margin: 5px 0px 15px 0px;
}

input{
	margin: 2px -1px;
	font-family: Monospace;
	font-size: 120%;
}

input[type="number"] {
	
	text-align: right;

	width: 100%;
}

input[type="text"] {
	text-align: left;
	width: 100%;
}

input.add_number{
	text-align: right;
	width: 60px;
	font-size: 120%;
	font-family: Monospace;	
	display: inline;
	float: right;
}

input.add_button{
	text-align: center;
	font-size: 120%;
	font-family: Monospace;
	width: 30px;
	float: right;
}
	
#ButtonPropertyElement  + label {
	background-image: url("../images/prop_map.png");
}

#ButtonSelectElement + label{
	background-image: url("../images/cursor.png");
}

#ButtonHand + label{
	background-image: url("../images/hand.png");
}

#ButtonTurn + label{
	background-image: url("../images/update.png");
}

#ButtonActionPoint + label{
	background-image: url("../images/box_closed.png");
}

#ButtonAddElement + label{
	background-image: url("../images/add.png");
}

#ButtonChangePosition + label{
	background-image: url("../images/layer_to_image_size.png");
}

#ButtonChangeSize + label{
	background-image: url("../images/layer_resize_replicate_h.png");
}

//...

