@charset "UTF-8";
/* CSS Document */

html{width: 100%;height: 100%;}

body {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
	/* background: url(../images/bgsite.jpg);  */
}

.container{
	background: #fff;
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999;
	-wekit-box-shadow: 0px 0px 20px #999;
	-o-box-shadow: 0px 0px 20px #999;
}

header{display: none;}

content{
	position: relative;
	width: 100%;  
 	height: 100%;  
	background: #5e9ed6;	
}

section{position: relative; width: 100%; height: 100%; overflow:hidden;}

aside.left{position: absolute; top: 10px; left:10px;}

article{position: relative;width: 100%;height: 100%;}

aside.right{position: absolute; top: 10px; right: 60px;}

footer{display: none;}

/* iaa tool bar*/

.iaa-toolbar{
	user-select: none;
}

.iaa-toolbar-input-label{
    width: 50px;  
    height: 50px;  
    border-width: 0px;
    margin: 0px;
    cursor: pointer;
    border: 1px solid #ccc;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 7px 9px;	
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.iaa-toolbar-input:checked + .iaa-toolbar-input-label {
    border: 1px solid #d19405;
    background: #fece2f;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 4px 6px;
    z-index: 100;
}



input[type=button] + .iaa-toolbar-input-label:active{
  
    border: 1px solid #d19405;
    background: #fece2f;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 4px 6px;
    z-index: 100;
  
}

.iaa-toolbar > .pagination > .btn-group > .btn{
  
  width: 50px;
  height: 50px;
  
  border-radius: 0px;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: 8px 8px; 
  
}

.iaa-toolbar > .pagination > .btn-group{
      vertical-align: top;  
}

.iaa-toolbar > .pagination > .btn-group > .btn:hover{
  
  
 border: 1px solid #d19405;
 background: #fece2f;
 background-size: 70% 70%;
 background-repeat: no-repeat;
 background-position: 8px 8px;
  
} 

.iaa-toolbar > .pagination > .btn-group > .btn:active,
.iaa-toolbar > .pagination > .btn-group > .btn:focus{
  
  border: 1px solid #d19405;
  background: #fece2f;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: 8px 8px; 
  outline: none;
  
  
}

/*  SVG */

svg {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background: aliceblue
}


#ButtonProperty  + label {
	background-image: url("../images/prop_map.png");
}

#ButtonPropertyElement  + label {
	background-image: url("../images/property.png");
}

#ButtonSelectElement + label{
	background-image: url("../images/cursor.png");
}

#ButtonHand + label{
	background-image: url("../images/hand.png");
}

#ButtonTurn + label{
	background-image: url("../images/update.png");
}

#ButtonActionPoint + label{
	background-image: url("../images/box_closed.png");
}

#ButtonAddElement + label{
	background-image: url("../images/add.png");
}

#ButtonChangePosition + label{
	background-image: url("../images/layer_to_image_size.png");
}

#ButtonChangeSize + label{
	background-image: url("../images/layer_resize_replicate_h.png");
}

#ButtonTrendInside + label{
	
	background-image: url("../images/ButtonInside.png");

}

#ButtonTrendOutside + label{
	
	background-image: url("../images/ButtonOutside.png");

}

#ButtonDeleteElement + label{
	
	background-image: url("../images/delete.png");

}

#ButtonStructure + label{
 
	background-image: url("../images/structure.png");
 
}

//...

